{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}
    رزرو {{ device.name }}
{% endblock title %}
    

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'assets/jalalidatepicker.min.css' %}" />
<script type="text/javascript" src="{% static 'assets/jalalidatepicker.min.js' %}"></script>
{% endblock head %}
    

{% block main-body %}
<form method="post" class="text-center">
    {% csrf_token %}
    <h1 class="text-center font-bold text-2xl p-3">{{ device }}</h1>
    
    <hr class="my-2">
    <ul>
        <li>
            هزینه استفاده به ازای هر ساعت {{ device_price|intcomma:False }} تومان میباشد
        </li>
        {% if count_controller %}
        <li>
            هر دسته اضافه ساعتی {{ controller_price|intcomma:False }} تومان به مبلغ اضافه میشود
        </li>
        {% endif %}
        <li>
            درصورت تاخیر بیشتر از 15 دقیقه سلن گیم مجاز به لغو کردن رزرو شما میباشد
        </li>
    </ul>
    {% if times %}
    <div class="bg-black bg-opacity-30 p-2 my-2">
        <h2>بازه های پر برای این دستگاه در تاریخ {{ string_date }}</h2>
        <ul class="flex flex-wrap justify-center mt-4">
            {% for time in times %}
                <li class="p-2 bg-black bg-opacity-35 border border-white border-[0.2] m-1">{{ time.0 }} تا {{ time.1 }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="flex items-center p-2">
        <h3 class="me-auto">تاریخ رزرو</h3>
        {% render_field form.date readonly="" class="text-black text-center w-max p-2" value="برای انتخاب روز کلیک کنید" data-jdp="" %}
    </div>
    
    <div class="flex items-center p-2">
        <h3 class="me-auto">ساعت رزرو‌ (ساعت را بصورت 24 ساعته از 8 تا 22 انتخاب کنید)</h3>
        <div class="m-1">
            <label for="r1">از</label>
            {% render_field form.start_at class="text-black text-center p-1 mx-2" value="9" min="8" max="21" %}
        </div>
        <div class="m-1">
            <label for="r2">تا</label>
            {% render_field form.end_at class="text-black text-center p-1 mx-2" value="10" min="9" max="22" %}
        </div>
    </div>
    
    {% if count_controller %}
    <div class="flex items-center p-2">
        <h3 class="me-auto">تعداد دسته</h3>
        <div class="m-1">
            {% render_field form.count_controller class="text-black text-center p-1 mx-2" value="1" min="1" max="8" %}
        </div>
    </div>
    {% endif %}

    <hr class="my-2">
    <button type="submit" id="submit-button" class="bg-gradient-to-r from-teal-600 via-teal-700 via-40% to-emerald-600 to-90% text-white shadow-md rounded-md hover:shadow-emerald-800 p-2 my-2 w-11/12 md:w-2/3 bg-opacity-70">ثبت نوبت - قیمت: 0 تومان</button>
</form>
{% endblock main-body %}



{% block script %}
<script>
    jalaliDatepicker.startWatch(
        {
            persianDigits:false,
            minDate:"today",
            showEmptyBtn:false,
        }
    );

    const devicePrice = {{ device_price }};
    {% if count_controller %}
        const controllerPrice = {{ controller_price|default:0 }};
    {% endif %}
    
    function updatePrice() {
        const startAt = parseInt(document.getElementById('id_start_at').value) || 0;
        const endAt = parseInt(document.getElementById('id_end_at').value) || 0;
        const hours = endAt - startAt;

        {% if count_controller %}
            const countController = parseInt(document.getElementById('id_count_controller').value - 1) || 0;
            let totalPrice = countController * controllerPrice * hours;
        {% else %}
            let totalPrice = 0;
        {% endif %}
            

        if (hours > 0) {
            totalPrice += (hours * devicePrice);
        }

        document.getElementById('submit-button').innerText = `ثبت نوبت - قیمت: ${totalPrice.toLocaleString()} تومان`;
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        const startAtField = document.getElementById('id_start_at');
        const endAtField = document.getElementById('id_end_at');
        const countControllerField = document.getElementById('id_count_controller');

        startAtField.addEventListener('input', updatePrice);
        endAtField.addEventListener('input', updatePrice);
        if (countControllerField) {
            countControllerField.addEventListener('input', updatePrice);
        }
        updatePrice();
    });
</script>
{% endblock script %}