{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load jformat %}

{% block title %}
    رزرو {{ device.name }}
{% endblock title %}
    

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'assets/jalalidatepicker.min.css' %}" />
<script type="text/javascript" src="{% static 'assets/jalalidatepicker.min.js' %}"></script>
{% endblock head %}
    

{% block main-body %}
<form method="post" class="text-center">
    {% csrf_token %}
    <h1 class="text-center font-bold text-2xl p-3">{{ device }}</h1>
    
    {% if times %}
        <h2>بازه های پر برای این دستگاه در تاریخ {{ string_date }}</h2>
        
        <ul>
        {% for time in times %}
            <li>
                {{ time.0 }} تا {{ time.1 }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
        
    <hr class="my-2">
    <div class="flex items-center p-2">
        <h3 class="me-auto">تاریخ رزرو</h3>
        {% render_field form.date readonly="" class="text-black text-center w-max p-2" value="برای انتخاب روز کلیک کنید" data-jdp="" %}
    </div>
    
    <div class="flex items-center p-2">
        <h3 class="me-auto">ساعت رزرو‌ (ساعت را بصورت 24 ساعته از 8 تا 22 انتخاب کنید)</h3>
        <div class="m-1">
            <label for="r1">از</label>
            {% render_field form.start_at class="text-black text-center p-1 mx-2" value="8" min="8" max="21" %}
        </div>
        <div class="m-1">
            <label for="r2">تا</label>
            {% render_field form.end_at class="text-black text-center p-1 mx-2" value="10" min="9" max="22" %}
        </div>
    </div>
    <hr class="my-2">
    <button type="submit" class="bg-gradient-to-r from-teal-600 via-teal-700 via-40% to-emerald-600 to-90% text-white shadow-md rounded-md   hover:shadow-emerald-800 p-2 my-2 w-11/12 md:w-2/3 bg-opacity-70">ثبت نوبت</button>
</form>
{% endblock main-body %}



{% block script %}
<script>
    jalaliDatepicker.startWatch(
        {
            persianDigits:false,
            minDate:"today",
            showEmptyBtn:false,
        }
    );
</script>
{% endblock script %}